.ds-debug{
  background-color: rgba(100, 148, 237, 0.375);
  border: 1px solid black;
  height: 300px;
}

.ds-left{
  width: 80px;
  background-color: #051e34;
}

.ds-right{
  height: calc(100vh - 56px);
}

@media screen and (min-width: 991px){
  .ds-left{
    width: 160px;;
  }
}