



/* NAVBAR */
.ds-navbar{
  height: 80px;
}

.ds-logo{
  width: 45px;
}

.ds-color{
  color: #595b58;
}

.ds-placeholder::placeholder{
  background-color: #e5e5e5;
}

.ds-question{
  width: 19px;
  height: 19px;
  font-size: 12px;
  color: white;
  background-color: #595b58;
}

.ds-bell{
  color: #ff8f00;
}
/* /NAVBAR */



/* MAIN */
.ds-main{
  height: calc(100vh - 80px);
  background-color: #f8f9fa;
}



/* left */
.ds-left{
  width: 80px;
  color: white;
  background-color: #051e34;
}

.ds-left-top{
  height: calc(100% - 40px);
}

.ds-option{
  width: 30px;
}

.ds-option-pointer-hover{
  cursor: pointer;
  transition: all .3s;
}

.ds-option-pointer-hover:hover{
  background-color: gray;

}
/* /left */



/* right-top */
.ds-right{
  height: calc(100vh - 80x);
}

.ds-top{
  color: white;
  background-color: #1b72e8;
}

.ds-h2{
  display: inline-block;
}

.ds-span{
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 12px;
  background-color: #165bba;
  cursor: pointer;
}

.ds-top-right{
  line-height: 38px;
}

.ds-offcanvas{
  color: black;
}
/* /right-top */



/* right-bottom */
.ds-card{
  background-color: white;
  border: 2px #d2d2d2 solid;
  border-radius: 15px;
  overflow: hidden;
}

.ds-h2-bottom{
  background-color: #f7f7f7;
  border-bottom: #d2d2d2 2px solid;
}

.ds-none-px{
  height: 49px;
}

.ds-table-row{
  width: 32px;
}

.ds-table-circle{
  width: 32px;
  height: 32px;
  color: white;
  background-color: #f26551;
}

.ds-table-width{
  width: 110px;
}

.ds-list{
  padding: 15px;
}
/* /right-bottom */

/* /MAIN */




@media screen and (min-width: 991px){
  .ds-left{
    width: 160px;;
  }
  .ds-offcanvas{
    width: 50vw !important;
  }
}